.cotactyazi {
  height: 75px;
  font-size: 60px;
  font-weight: 600;
  color: #403f3d;
}
.inputdivleri {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 107px;
}
.contnentdivleri {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 205px;
}
.subjectinput {
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  border: 1px solid #c1b6ad;
  /* width: 400px; */
  height: 56px;
  border-radius: 12px;
  background-color: transparent;
  font-size: 16px;
}
.mailinput {
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  border: 1px solid #c1b6ad;
  /* width: 400px; */
  height: 56px;
  border-radius: 12px;
  background-color: transparent;
  font-size: 16px;
}
.contentinput {
  border-radius: 12px;
  background-color: transparent;
  font-size: 16px;
  /* padding-left: 12px;
  padding-right: 12px; */
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #c1b6ad;
  resize: none;
}
.formun {
  width: 600px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.butondivi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.butonundur {
  width: 200px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #665f55;
  background: transparent;
  color: #403f3d;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
