.signlogininput {
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  border: 1px solid #c1b6ad;
  width: 400px;
  height: 56px;
  border-radius: 12px;
  background-color: transparent;
  font-size: 16px;
}
.signlogin {
  width: 400px;
  /*height: 84px;*/
  height: 99px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.siginpassword {
  width: 400px;
  /*height: 84px;*/
  height: 99px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.siginpasswordinput {
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  border: 1px solid #c1b6ad;
  width: 400px;
  height: 56px;
  border-radius: 12px;
  background-color: transparent;
  font-size: 16px;
}
.butonundivi {
  width: 1360px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kayitolbutonu {
  width: 200px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #665f55;
  background: transparent;
  color: #403f3d;
  font-weight: 600;
}
.input-error {
  border: 2px solid red;
}

.input-success {
  border: 2px solid green;
}
.hata {
  display: flex;
  justify-content: center;
  color: red;
}
